[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Longtrainz
[access "refs/for/refs/*"]
	read = group user/Longtrainz
	push = group user/Longtrainz
	label-Code-Review = -2..+2 group user/Longtrainz
	label-Verified = -1..+1 group user/Longtrainz
	rebase = group user/Longtrainz
	removeReviewer = group user/Longtrainz
	submit = group user/Longtrainz
[access "refs/heads/*"]
	read = group user/Longtrainz
	create = group user/Longtrainz
	push = +force group user/Longtrainz
	pushMerge = group user/Longtrainz
[access "refs/tags/*"]
	push = group user/Longtrainz
	push = +force group user/Longtrainz
